body{
    background-image:url('watergif.gif');
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
} 

#shark{
    position:relative;
    left:500px; 
}

#stars{
    position:relative;
    z-index:1;
    left:850px;
    bottom:650px;
}

#textbubble{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index:2;
    position:relative;
    left:0px;
    top:750px;
}

#sharktalk {
    color:blue;
    font-size:36px;
    position:relative;
    top:450px;
    left:100px;
    z-index:3;
}
a{
    color:cyan;
    font-size:40px;
}