body{
    background-image:url('bubbles.gif');
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
} 
#odetomrbullet{
    color:chartreuse;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 55px;
    

}

li {
    z-index: -2;
}

img {
    float:none;
    height: 60%;
    width: 50%;
}

#bullet {
    position:relative;
    top:310px;
    height:15%;
    width:15%;
    z-index: 2;
}

#gun{
    position:relative;
    float:right;
    z-index: 3;
}

#explosion{
    height:30%;
    width: 30%;
    position:relative;
    top:100px;
    right:0px;
    z-index: 1;
}

.odd{
    font-size: 50px;
    color:yellow;
    float:right;

}
.even{
    font-size: 72px;
    color:red;
    float:left;
}

audio {
    position: relative;
    right:450px;

}