body{
    background-image:url('fuckyou.gif');
    background-color: slateblue;
    font-family: Arial, Helvetica, sans-serif;
} 
#odetomrbullet{
    color:white;
    font-family: fantasy;
    

}
img {
    float:none;
    height: 60%;
    width: 50%;
}

#bullet {
    display:inline-block;
    margin-top:50px;
    height:15%;
    width:15%;
    z-index: 1;
}

#gun{
    float:right;
    top:300px;
}